@import "tailwindcss";


@theme {
  --color-blue-shade-800: oklch(0.3515 0.0607 254.67);
  --color-blue-shade-600: oklch(0.4815 0.0607 254.67);
  --font-jost: 'Jost', sans-serif;
  --animate-fade-in: fadeInUp 450ms ease-out both;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #2C558A;
  background: linear-gradient(180deg, #2c558a 0%, #0b0017 100%);
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}