@import "tailwindcss";

@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-VariableFont_wght.ttf') format('ttf');
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #2C558A;
  background: linear-gradient(180deg,rgba(44, 85, 138, 1) 0%, rgba(11, 0, 23, 1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


